* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgb(1, 130, 199);
}

h1, h3 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

#chance {
    margin-top: 5%;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5%;
}

#row-1, #row-2, #row-3 {
    display: flex;
    justify-content: center;
}

.btn {
    width: 50px;
    height: 50px;
    color: white;
    margin: 2px;
    border-radius: 20px;
    font-size: 35px;
    cursor: pointer;
    border: none;
    box-shadow: 5px 5px 5px black;
}

#reset {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#resultText, #reset-btn {
    visibility: hidden;
}

#reset-btn {
    width: 100px;
    height: 50px;
    border-width: 0;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    background-color: white;
}

#reset-btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
#mp3{
    display: none;
}
#resultWatermelonWin{
    margin: 5px;
    text-align: center;
    font-family:'Franklin Gothic Medium';
}
#resultOrangeWin{
    font-family:'Franklin Gothic Medium';
    text-align: center;
}
#resultText{
    font-size: 1.5em;
}
#heading{
    color: rgb(217, 255, 0);
}